* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: screen;
  min-height: screen;
  background-color: rgb(51, 35, 35);
}

.nav-container {
  width: 100%;
  position: fixed;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  padding: 0 16px 0 16px;
}
.navbar img {
  width: 70px;
  height: 68px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: inherit;
  margin: 0;
  width: fit-content;
}

.narvbar .buttons {
  display: flex;
}

.hero-container {
  width: 100%;
  background-color: rgb(243, 172, 79);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 1400px;
  min-height: 800px;
  align-items: center;
  justify-content: space-between;
}

.hero-img {
  width: 900px;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.notes {
  width: 380px;
}

.notes h1 {
  color: white;
  font-size: 64px;
}

.notes p {
  color: white;
  font-size: 18px;
}

h1 span {
  color: brown;
}

.pictures-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.pictures {
  min-height: 500px;
  width: 1400px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.pictures img {
  /* width: calc(100% / 3); */
  width: 100%;
  height: 500px;
  border-radius: 16px;
  object-fit: cover;
}

footer {
  width: 100%;
  text-align: center;
  height: 250px;
  background-color: blanchedalmond;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  gap: 25px;
}

.icons img {
  width: 32px;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}
